/* Resizer styles */
.v-resizer {
    position: absolute;
    background: transparent;
    z-index: 10;
}

.v-resizer:hover {
    background: #ddd;
}


.v-resizer-left {
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    cursor: col-resize;
}

.v-resizer-right {
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    cursor: col-resize;
}

.v-resizer-top {
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    cursor: row-resize;
}

.v-resizer-bottom {
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    cursor: row-resize;
}

.v-resizer-corner {
    width: 2px;
    height: 2px;
    z-index: 20;
}

.v-resizer-top-left {
    top: 0;
    left: 0;
    cursor: nwse-resize;
}

.v-resizer-top-right {
    top: 0;
    right: 0;
    cursor: nesw-resize;
}

.v-resizer-bottom-left {
    bottom: 0;
    left: 0;
    cursor: nesw-resize;
}

.v-resizer-bottom-right {
    bottom: 0;
    right: 0;
    cursor: nwse-resize;
}
